

                <h1 class="page-header">Empresa</h1>
                <% if @empresa.errors.any? %>
                  <div class="alert alert-danger alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                      <ul>
                        <% @empresa.errors.full_messages.each do |messages| %>
                        <li><%= messages%></li>
                        <% end %>
                      </ul>
                  </div>
                  <%end%>
                  <%if notice%>
                  <div class="alert alert-success alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                      <%=notice%>
                  </div>
                  <% end%>

                <!-- <div class="col-lg-6"> -->
                    <div class="panel panel-default">
                        <div class="panel-heading">

                          <%= action %>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          <div class="col-lg-6">

                            <%=form_for([:admin, @empresa], html: { multipart: true }) do |f|%>


                              <div class="form-group">
                                  <%=f.label :titulo%><br>
                                  <%= f.text_field :titulo, class: "form-control"%>
                              </div>

                              <div class="form-group">
                                    <%=f.label :descripcion%><br>
                                  <%= f.text_area :descripcion, class: "form-control"%>
                              </div>

                              <div class="form-group">
                                  <%=f.label :picture%><br>
                                  <%=f.file_field :picture, class:"btn btn-default"%>

                              </div>
                              <div class="form-group">
                                <% @empresas.each do |empresa| %>
                                <%= image_tag empresa.picture.url(:thumb) %>
                                <% end %>
                              </div>

                              <button type="submit" class="btn btn-default">Salvar</button>
                            <%end%>

                          </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                <!-- </div> -->
